@import "../../styles/constants.scss";

.blog-comp {
  padding: 145px 112px;
  background-color: $lightBlueBg;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .articulos {
    padding-bottom: 22px;
    text-align: center;
  }

  .articles-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-top: 50px;
  }
}
