@import "../../styles/constants.scss";

.sub-wrapper {
  margin: 80px 20px;

  @media screen and (min-width: 1024px) {
    padding: 118px 112px;
  }

  .suscribete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    background-color: $mainYellow;
    padding: 40px;
    text-align: left;

    .main-title {
      font-family: $cardoFont;
      font-size: 40px;
      line-height: 120%;
      color: $darkBlue;
    }

    .sub-desc {
      font-family: $interFont;
      font-size: 18px;
      line-height: 180%;
      color: $darkBlue;
    }

    @media screen and (min-width: 1024px) {
      padding: 118px 112px;
      text-align: center;

      .suscribete {
        padding: 120px 180px;

        .main-title {
          font-size: 45px;
        }
        .sub-desc {
          font-size: 20px;
        }
      }
    }

    .input-wrapper {
      display: grid;
      grid-template-columns: 1fr;
      justify-content: center;
      align-items: center;
      gap: 10px;
      margin-top: 20px;
      width: 100%;
      @media screen and (min-width: 1024px) {
        grid-template-columns: 2fr 1fr;
      }

      input {
        height: 50px;
        border: none;
        padding: 0 20px;
        font-family: $interFont;
        font-size: 18px;
        line-height: 180%;
        color: $lightGrey;
        background-color: $primaryWhite;
        height: 65px;
      }

      .btn {
        max-width: 300px;
        height: 64px;
        border: none;
        font-family: $cardoFont;
        font-size: 20px;
        line-height: 125%;
        color: $primaryWhite;
        background: $darkBlue;
        cursor: pointer;
      }
    }
  }
}
