$cardoFont: "Cardo", sans-serif;
$cabinFont: "Cabin", sans-serif;
$cinzelFont: "Cinzel Decorative", sans-serif;
$interFont: "Inter", sans-serif;

$primaryWhite: #ffffff;
$primaryBlack: #000000;
$darkBlue: #1b3764;
$lightGrey: #969aa0;
$lightGreyBlue: #b4c7e7;
$lightBlueBg: #f4f8ff;
$mainYellow: #ffca42;
$GreyGradient: linear-gradient(
  to right,
  #716e66,
  #9c988c,
  #b1ad9f,
  #cac8c3,
  #e0e0e0
);
