.image-hero {
  color: black;
  display: none;

  @media screen and (min-width: 1024px) {
    display: block;
  }

  .image-gallery {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: auto;
    overflow: hidden;
    height: 500px; /* Set a max-height for your image gallery */
  }

  .image-container {
    max-height: 500px;
    flex: 1;
    transition: flex 0.5s ease;
    cursor: pointer;
    overflow: hidden; /* Ensures the image doesn't overflow the container */
  }

  .gallery-image {
    height: 100%; /* This will maintain the height */
    width: 100%; /* Allows the width to adjust */
    object-fit: cover; /* This will cover the area of the container without stretching the image */
    transition: transform 0.5s ease;
  }

  .image-container:hover {
    flex: 1.5; /* Flex-grow larger than 1 will make the image grow more */
  }

  .image-container:hover .gallery-image {
    transform: scaleX(1.1); /* Only grow horizontally */
    opacity: 1;
  }

  /* You may need to adjust the flex-basis of the non-hovered items so they shrink appropriately */
  .image-container:not(:hover) {
    flex: 1;
    opacity: 0.9;
  }
}
