.carousel-top-wrap {
  display: block;
  width: 100%;
  height: fit-content;
  margin: auto;

  @media screen and (min-width: 1024px) {
    display: none;
  }
}

.slick-list {
  width: 100%;
}

.slick-initialized .slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 34px;
}

.book-carousel-item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;

  .item-main-img {
    padding: 40px 0px;
    object-fit: cover;
    transform: translateX(12%);
    height: 500px;
    width: 80%;
  }
}
